Depends: libknet-dev, libnozzle-dev,
 gcc, libc6-dev, make, pkg-config,
 libnl-3-dev, libnl-route-3-dev, libsctp-dev,
 libbz2-dev, liblz4-dev, liblzma-dev, liblzo2-dev, zlib1g-dev,
 libnss3-dev, libssl-dev
Restrictions: allow-stderr, isolation-container, needs-root
Tests: unit
