#!/usr/bin/make -f

# -D_FORTIFY_SOURCE=3 is used by the upstream build system,
# do not conflict it with -D_FORTIFY_SOURCE=2:
export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-fortify

# Ensure that we link against all needed libraries (cf. Policy 10.2)
export DEB_LDFLAGS_MAINT_APPEND=-Wl,-z,defs

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--docdir=/usr/share/doc/libknet1 \
		`dh_listpackages | grep -q '^libknet-doc$$' || printf %s --disable-man` \
		--disable-static

override_dh_installdocs:
	dh_installdocs -A COPYRIGHT README

override_dh_makeshlibs:
	dh_makeshlibs --exclude=/kronosnet/ # ignore the modules
